version: 2

updates:
  - package-ecosystem: "github-actions" 
    directory: "/" 
    schedule:
      interval: "weekly"
      day: "friday"
      time: "08:00"
      timezone: "Europe/Berlin"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "08:00"
      timezone: "Europe/Berlin"
    groups:
      new-versions:
        applies-to: version-updates
        update-types:
          - "patch"
          - "minor"
          - "major"
      security-patches:
        applies-to: security-updates
        update-types:
          - "patch"
          - "minor"
          - "major"
