* {
    color: #fff;
    font-family: Arial, sans-serif;
 }

/* General */
body {
    margin: 0;
    padding: 0;
    background: rgba(52, 53, 65, 1);
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

    /* Top section */
    #top {
        height: 276px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

        h1 {
            font-size: 65px;
            font-weight: 600;
            color: #ECECF1;
        }

        #input-section {
            align-items: center;
            width: 90vw;
            max-width: 720px;
            margin: 0 auto; /* Center horizontally */
        }

            /* Input field */
            #input-field {
                display: flex;
                align-items: center;
                gap: 10px; /* Space between input and submit */
            }

                input {
                    border: none;
                    background: rgba(255, 255, 255, 0.1);
                    border: rgba(32, 33, 35, 0.5);
                    width: 100%;
                    height: 50px;
                    font-size: 22px;
                    padding-left: 1rem;
                    border-radius: 5px;
                    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
                }

                input:focus {
                    outline: none;
                }

                #submit {
                    transform: rotate(90deg);
                    cursor: pointer;
                }

            #instructions {
                color : rgba(255, 255, 255, 0.5);
                font-size: 18px;
                font-weight: 600;
                font-style: italic;
            }

    /* Bottom section */
    #bottom {
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* Takes up the rest of available space */
        justify-content: space-between;
    }

        #output {
            font-size: 22px;
            padding: 30px 5vw 35px;
            text-align: left;
            align-content: start;
            max-width: 900px;
            margin: 0 auto; /* Center horizontally */
            display: block;
        }

        #loader {
            width: 60px;
            aspect-ratio: 2.5;
            --_g: no-repeat radial-gradient(circle closest-side,#ECECF1 90%,#0000);
            background: 
                var(--_g) 0%   50%,
                var(--_g) 50%  50%,
                var(--_g) 100% 50%;
            background-size: calc(100%/3) 50%;
            animation: spin 0.75s infinite linear;
            margin: 40px auto; /* Center horizontally */
            display: none;
        }

            @keyframes spin {
                20% {background-position: 0%   0%, 50%  50%,100%  50%}
                40% {background-position: 0% 100%, 50%   0%,100%  50%}
                60% {background-position: 0%  50%, 50% 100%,100%   0%}
                80% {background-position: 0%  50%, 50%  50%,100% 100%}
            }

        #footer {
            text-align: center;
            color : rgba(255, 255, 255, 0.5);
            font-size: 15px;
            font-weight: 600;
        }

            #reference {
                color : rgba(255, 255, 255, 0.5);
                font-weight: 400;
            }

            #reference a {
                color : rgba(255, 255, 255, 0.5);
            }

/* Responsive styles - phones */
@media (max-width: 490px) {
    #top {
        height: 228px;
    }

        h1 {
            font-size: 55px;
        }
    
                input {
                    height: 40px;
                    font-size: 20px;
                }

            #instructions {
                font-size: 15px;
            }

        #output {
            font-size: 18px;
        }

        #loader {
            width: 50px;
            aspect-ratio: 3;
        }

        #footer {
            font-size: 12px;
        }
}