* {
    color: #fff;
    font-family: "Open Sans", sans-serif;
 }

/* General */
body {
    margin: 0;
    padding: 0;
    background: rgba(52, 53, 65, 1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

    /* Top section */
    #top {
        height: 35vh;
        max-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

        h1 {
            font-size: 65px;
            font-weight: 600;
            color: #ECECF1;
        }

        #input-section {
            align-items: center;
            width: 90vw;
            max-width: 720px;
            margin: 0 auto; /* Center horizontally */
        }

            /* Input field */
            #input-field {
                display: flex;
                align-items: center;
                gap: 10px; /*  Space between input and submit */
            }

                input {
                    border: none;
                    background: rgba(255, 255, 255, 0.1);
                    border: rgba(32, 33, 35, 0.5);
                    width: 100%;
                    height: 50px;
                    font-size: 22px;
                    padding-left: 1rem;
                    border-radius: 5px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 54px 55px,
                        rgba(0, 0, 0, 0.05) 0px -12px 30px,
                        rgba(0, 0, 0, 0.05) 0px 4px 6px,
                        rgba(0, 0, 0, 0.05) 0px 12px 3px,
                        rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }

                input:focus {
                    outline: none;
                }

                #submit {
                    transform: rotate(90deg);
                    cursor: pointer;
                }

            #instructions {
                color : rgba(255, 255, 255, 0.5);
                font-size: 18px;
                font-weight: 600;
                font-style: italic;
            }

    /* Bottom section */
    #bottom {
        height: 65vh;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
    }

        #output {
            font-size: 22px;
            padding: 5vw;
            flex-grow: 1; /* Allow output to take up available space */
            text-align: left;
            max-width: 900px;
            margin: 0 auto; /* Center horizontally */
        }

        #footer {
            text-align: center;
            color : rgba(255, 255, 255, 0.5);
            font-size: 15px;
            font-weight: 600;
            margin-top: auto;
        }

/* Responsive styles */
/* Tablet and smaller */
@media (max-width: 768px) {
    #top {
      height: 40vh;
    }

    #bottom {
      height: 60vh;
    }
}

/* Phone */
@media (max-width: 480px) {
    #top {
      height: 45vh;
    }

                input {
                    height: 40px;
                    font-size: 20px;
                }

            #instructions {
                font-size: 15px;
            }

    #bottom {
      height: 55vh;
    }

        #output {
            font-size: 18px;
        }

        #footer {
            font-size: 12px;
        }
}