@import "global.css";

main {
    margin: 80px auto 0;
}

    .error-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .error-text {
            color: #ffffff;
            font-size: 35px;
            font-weight: bold;
            position: absolute;
            z-index: 2;
            transform: translateX(7px);
        }
        
        .error-icon {
            font-size: 200px;
            color: var(--accent-color);
            z-index: 1;
        }

    .funny {
        font-size: 20px;
        text-align: center;
        margin-top: 40px;
    }

    .redirect {
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
    }

        .redirect a {
            text-decoration: none;
            font-size: 30px;
            font-weight: bold;
        }

            .redirect a:hover {
                color: var(--accent-color);
                transition: color 0.3s ease;
            }