@import "global.css";

.embed {
    border: 0;
    width: 100%;
    height: calc(100dvh - 111.667px);
    max-height: 1100px;
}

    #my-cal-inline {
        height: 100%;
        overflow: scroll;
    }

@media (max-width: 916.67px) {
    #gdocs {
        max-height: calc(100dvw * 1.2);
    }
}