@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    font-family: "Poppins", sans-serif !important; 
    color: #ffffffd9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: #1a1a1a;
}

    header, footer {
        width: 90%;
        max-width: 750px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header {
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        background-color: #1a1a1a;
    }

        header picture {
            height: 34px;
            width: auto;
            display: block;
            transition: opacity 0.3s ease;
        }
        
            header picture:hover {
                opacity: 0.7;
            }

        /* nav {} */

        #social-links {
            position: static;
            display: flex;
            gap: 10px;
            align-items: center;
        }

            #social-links iconify-icon {
                text-decoration: none;
                font-size: 25px;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                #social-links iconify-icon:hover {
                    color: #2563eb;
                }

    main {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }

    footer {
        color: #666666;
        text-align: center;
        justify-content: center;
        font-size: 0.9em;
        padding: 15px 0;
    }