@import "./global.css";

header {
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
}

    header.visible {
        opacity: 1;
        pointer-events: auto;
    }

main {
    width: 90%;
    max-width: 900px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    margin: 120px auto 0; 
    justify-content: flex-start; 
    position: relative;
    gap: 20px;
}

    #logo {
        transition: opacity 0.3s ease;
        opacity: 1;
    }

        #logo img {
            height: 180px;
            width: auto;
        }

    #chat-container {
        width: 100%;
        max-width: 600px;
        background-color: #262626;
        border-radius: 8px;
        box-shadow: 0 15px 30px rgba(0,0,0,0.2);
        overflow: hidden;
        transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        z-index: 10;
    }

        #chat-window {
            height: 0;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            transition: all 0.4s ease;
            opacity: 0;
            scrollbar-gutter: stable;
            scroll-behavior: smooth;
        }

            #chat-window::-webkit-scrollbar {
                width: 6px;
            }

            #chat-window::-webkit-scrollbar-thumb {
                background-color: rgba(37, 99, 235, 0.3);
                border-radius: 3px;
            }
            
            #chat-window:hover::-webkit-scrollbar-thumb {
                background-color: rgba(37, 99, 235, 1);
            }

            .messages-container {
                margin-top: auto;
                width: 100%;
            }

                .message {
                    margin: 8px;
                    padding: 8px 12px;
                    border-radius: 8px;
                    width: fit-content;
                    max-width: 80%;
                    position: relative;
                    font-size: 0.95em;
                    line-height: 1.4;
                }

                    .message a {
                        color: rgba(255, 255, 255, 1);
                        text-decoration: none;
                        font-weight: bold;
                    }

                    .user-message {
                        background-color: #2563eb;
                        align-self: flex-end;
                        margin-left: auto;
                        margin-right: 8px;
                    }

                    .bot-message {
                        background-color: #333333;
                        align-self: flex-start;
                        margin-left: 8px;
                    }

                    .error-message {
                        background-color: #480b0b;
                        align-self: center;
                        margin-inline: auto;
                    }

                #loader {
                    width: 42.54px;
                    aspect-ratio: 2;
                    --_g: no-repeat radial-gradient(circle closest-side,rgba(255, 255, 255, 0.85) 60%,#333333);
                    background: 
                        var(--_g) 0%   50%,
                        var(--_g) 50%  50%,
                        var(--_g) 100% 50%;
                    background-size: calc(100%/3) 50%;
                    animation: bounce 0.75s infinite linear;
                }

                    @keyframes bounce {
                        20% {background-position: 0%   0%, 50%  50%,100%  50%}
                        40% {background-position: 0% 100%, 50%   0%,100%  50%}
                        60% {background-position: 0%  50%, 50% 100%,100%   0%}
                        80% {background-position: 0%  50%, 50%  50%,100% 100%}
                    }

        #input-container {
            display: flex;
            align-items: center;
            background-color: #1a1a1a;
            transition: all 0.4s ease;
        }

            input {
                flex-grow: 1;
                padding: 8px 12px;
                font-size: 1em;
                border: none;
                border-radius: 8px;
                background-color: #333333;
                transition: all 0.3s ease;
                box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
                width: 100%;
            }

                input::placeholder {
                    color: #666666;
                }

                input:focus {
                    outline: none;
                }

            #submit {
                background-color: #2563eb;
                color: rgba(255, 255, 255, 0.6);
                border: none;
                border-radius: 8px;
                cursor: pointer;
                height: 40px;
                width: 40px;
                padding: 8px;
                margin-left: 10px;
                opacity: 0.3;
                transition: all 0.3s ease;
                pointer-events: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #submit iconify-icon {
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    font-size: 1.5em;
                }

                #submit.active {
                    opacity: 1;
                    pointer-events: auto;
                }

                    #submit.active:hover {
                        background-color: #1d4ed8;
                        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
                    }

    #suggestions {
        color: #666666;
        font-size: 1em;
        font-weight: 600;
        font-style: italic;
    }

    #disclaimer {
        color: #666666;
        font-size: 0.7em;
        text-align: center;
    }