@import "global.css";

header {
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
}

    header.visible {
        opacity: 1;
        pointer-events: auto;
    }

main {
    flex-direction: column;
    margin: 120px auto 0;
    position: relative;
    gap: 20px;
}

    #logo {
        transition: opacity 0.3s ease;
        opacity: 1;
    }

        #logo picture {
            height: 180px;
            width: auto;
        }

    #chat-container {
        width: 100%;
        max-width: 600px;
        background-color: var(--secondary-bg-color);
        border-radius: 8px;
        overflow: hidden;
        transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0s, background-color 0s;
        z-index: 10;
    }

        #chat-window {
            height: 0;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            transition: all 0.4s ease, color 0s, background-color 0s;
            opacity: 0;
            scrollbar-gutter: stable;
            scroll-behavior: smooth;
        }

            #chat-window::-webkit-scrollbar {
                width: 6px;
            }

            #chat-window::-webkit-scrollbar-thumb {
                background-color: var(--secondary-text-color);
                border-radius: 3px;
            }
            
                #chat-window:hover::-webkit-scrollbar-thumb {
                    background-color: var(--accent-color);
                }

            .messages-container {
                margin-top: auto;
                width: 100%;
            }

                .message {
                    margin: 8px;
                    padding: 8px 12px;
                    border-radius: 8px;
                    width: fit-content;
                    max-width: 80%;
                    position: relative;
                    font-size: 0.95em !important;
                    line-height: 1.4;
                }

                    .message a {
                        color: var(--accent-color);
                        text-decoration: none;
                    }
                    
                        .message a:hover {
                            opacity: 0.7;
                            transition: opacity 0.3s ease;
                        }

                    .user-message {
                        background-color: var(--secondary-accent-color);
                        align-self: flex-end;
                        margin-left: auto;
                        margin-right: 8px;
                    }

                    .bot-message {
                        background-color: var(--tertiary-bg-color);
                        align-self: flex-start;
                        margin-left: 8px;
                    }

                    .error-message {
                        background-color: var(--error-message-bg-color);
                        align-self: center;
                        margin-inline: auto;
                    }

                #loader {
                    width: 30px;
                    height: 21.27px;
                    --_g: no-repeat radial-gradient(circle closest-side, var(--primary-text-color) 60%, var(--tertiary-bg-color));
                    background: 
                        var(--_g) 0%   50%,
                        var(--_g) 50%  50%,
                        var(--_g) 100% 50%;
                    background-size: calc(70%/3) 50%;
                    animation: bounce 0.75s infinite linear;
                }

                    @keyframes bounce {
                        20% {background-position: 0%   0%, 50%  50%,100%  50%}
                        40% {background-position: 0% 100%, 50%   0%,100%  50%}
                        60% {background-position: 0%  50%, 50% 100%,100%   0%}
                        80% {background-position: 0%  50%, 50%  50%,100% 100%}
                    }

        #input-container {
            display: flex;
            align-items: center;
            background-color: var(--primary-bg-color);
            transition: all 0.4s ease, color 0s, background-color 0s;
        }

            input {
                flex-grow: 1;
                padding: 8px 12px;
                font-size: 1em;
                border: none;
                border-radius: 8px;
                background-color: var(--tertiary-bg-color);
                transition: all 0.3s ease, color 0s, background-color 0s;
                width: 100%;
                caret-color: var(--primary-text-color);
            }

                input::placeholder {
                    color: var(--secondary-text-color);
                }

                input:focus {
                    outline: none;
                }

            #submit {
                background-color: var(--accent-color);
                border: none;
                border-radius: 8px;
                cursor: pointer;
                height: 40px;
                width: 40px;
                padding: 8px;
                margin-left: 10px;
                opacity: 0.4;
                transition: all 0.3s ease;
                pointer-events: none;
            }

                #submit iconify-icon {
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    font-size: 1.5em;
                    color: #ffffffd9;
                }

                #submit.active {
                    opacity: 1;
                    pointer-events: auto;
                }

                    #submit.active:hover {
                        opacity: 0.7;
                    }

    #disclaimer {
        color: var(--secondary-text-color);
        font-size: 0.7em;
        text-align: center;
    }

    #prompt-pills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        margin-bottom: 16px;
    }

        .prompt-pill {
            background-color: var(--tertiary-bg-color);
            border-radius: 16px;
            padding: 8px 16px;
            margin: 4px;
            cursor: pointer;
            font-size: 0.8em;
            transition: opacity 0.3s ease;
        }

            .prompt-pill:hover {
                opacity: 0.7;
            }

            .prompt-pill.disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }