@import "global.css";

main {
    margin: 120px auto 0;
}

    .travel-map-container {
        display: block;
        aspect-ratio: 1080/699;
        overflow: hidden;
        margin-top: -60px;
        margin-bottom: 45px;
    }

        #travel-map {
            width: 100%;
            height: auto;
            transform: translateY(-16.79%); /* Removes header */
        }
    
    .instruction {
        margin: 0 0 1.5em;
    }

        .instruction a {
            color: var(--accent-color);
            text-decoration: none;
            font-weight: bold;
        }

            .instruction a:hover {
                opacity: 0.7;
                transition: opacity 0.3s ease;
            }

    .destination {
        font-size: 70px;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
    }
    
        .destination:hover {
            transform: translateY(-2px);
            transition: transform 0.2s ease;
        }
        
        .destination:active {
            transform: translateY(1px);
        }

    #amazon {
        color: #ff9900;
    }

    #whatsapp {
        border-radius: 8px;
    }

    .redirect {
        font-size: 20px;
        text-align: center;
        margin-top: 30px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 2s ease;
    }

        .redirect a {
            color: var(--accent-color);
            text-decoration: none;
            font-size: 30px;
            font-weight: bold;
        }

            .redirect a:hover {
                opacity: 0.7;
                transition: opacity 0.3s ease;
            }