@import "global.css";

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: 60px auto 0;
}

    #my-cal-inline {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }